<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>filterdemo1</display-name>
 <servlet>
 <servlet-name>servlet1</servlet-name>
 <servlet-class>Servlet1</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>servlet1</servlet-name>
 <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
  
  <filter>
  <filter-name>filter1</filter-name>
  <filter-class>Filter1</filter-class>
  </filter>
  
  <filter-mapping>
  <filter-name>filter1</filter-name>
  <url-pattern>/Servlet1</url-pattern>
  </filter-mapping>
  <welcome-file-list>
  <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
</web-app>